%title= escape_once("#{Locomotive.config.name} &mdash; #{current_site.name}")

= csrf_meta_tag

%meta{ :name => 'locale', :content => I18n.locale }

= include_javascripts :common

= include_stylesheets :common, :media => 'screen'

/ [if IE]
  = include_stylesheets :ie, :media => 'screen'

%script{ :type => 'text/javascript' }
  = find_and_preserve(growl_message)

:javascript
  $(document).ready(function() {
  	$('#add_resource').click(function(){
  		var resources = $('#resources_list li.file').length;
  		$('#resources_list').append('<li class="file" id="content_resource_file_input"><a href="#" class="remove_resource">- remove</a><label for="resource_custom_field_3_'+resources+'">File:</label><input id="resource_custom_field_3_'+resources+'" name="resource[custom_field_3][]" type="file"></li>');
  		$('a.remove_resource').live('click', function(e){
  			e.preventDefault();
  			$(this).parent().detach();
  		});
  	});
  });

= yield :head